
	body{
		background-color: rgba(0,0,0,.05)	;

	}
	.pageBody{
	 	width: 100%;
		margin-top: 80px;
		padding-top: 12px;
		padding-bottom: 20px;
		display: inline-flex;
		flex-direction: column;
    align-items: center;
		transition: margin-left .25s ease;
	}

	/*
	Will need javascript magic to keep it anchored
	*/
	.pageHeader{
	  	position: fixed;
	  	top: 0px;
		height: 80px;
	 	display: flex;
	 	flex-direction: column;
	 	/*blue gray 900*/
	 	background-color: #303F9F;
	 	width: 100%;
	 	box-shadow: 1px 1px 2px 2px rgba(1, 1, 1, .4);


	}
	.topBar{
		display: flex;
		justify-content: space-between;

	}
	.pageLabel{
		color: white;
		font-size: 18px;
		text-align: center;
		width: 100%;
		line-height: 30px;
	}
	.headerText{
	    color: white;
	    font-size: 20px;
	    line-height: 50px;
	    text-align: center;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: hidden;

	}
	.menuIcon{
		width: 40px;
		margin-left: 2px;
		margin-top: 2px;
	}
	.menu{
		width: 44px;
		height: 44px;
		margin-top: 3px;
		margin-left: 3px;
		border-radius: 40px;
	}
	.menu:hover{
		cursor: pointer;
		background-color: #FFAB00;

	}

	.headerIcon{
		width: 40px;
		padding-top: 5px;
	}
	.headerIconContainer{
		width: 50px;
		height: 50px;

	}





	.bannerImage{
		max-width: 100%;
		min-width: 300px;

		max-height: 210px;
		min-height: 150px;
		margin-bottom: 12px;



	}
	.bodyText{
		line-height: 24px;
		max-width: 90%;
		text-align: justify;
		font-family: sans-serif;
	}
	.bannerText{
	    font-size: 20px;
	    border-radius: 4px 4px 0 0;

    text-align: center;
	    line-height: 50px;
	    width: 100%;
	    background-color: #500000;
	    color: white;
	    margin-bottom: 8px;
	}
	
	
	.contentBlock{
		display: flex;
		flex-direction: column;
		border-radius: 4px;
		align-items: center;
		width: 95%;
		max-width: 90%px;
		background-color: white;
		box-shadow: 0px 0px 1px 1px rgba(1, 1, 1, .4);
		padding-bottom: 8px;

	}
	.blockDivider{
		height: 1px;
		width: 240px;
		border-style: solid;
		border-color: gray;
		border-width: 0 0 1px 0;
		margin-top: 12px;
	}
	.dayEvents{
		list-style-type:none;
		    flex-grow: 5;
	}
	.event{
		display: flex;
		justify-content: space-between;
	}


	.slideout{
		height: 100%;
		width: 240px;
		position: fixed;
		top: 80px;
		z-index: 10;
		transition: margin-left .25s ease;
		background-color: #3F51B5;
		box-shadow: 1px 1px 5px black;
		display: inline-block;


	}
	.slideout.hidden{
		margin-left: -244px;
	}
	.slideout.show{
		margin-left: 0px;
	}

	.slideoutMenu{
		margin-top: 12px;

	}
	.currentPage{
		color: #FFD600;
	}
	.slideoutMenuItem{
		display: flex;
		padding-bottom: 8px;
		padding-top: 8px;

		padding-left: 12px;
		color: white;
		cursor: pointer;

	}
	.slideoutMenuLabel{
		font-size: 18px;
	}
	.slideoutMenuItem:hover{
		background-color: #0288D1;
		color:#FFD600


;
	}


	.dailySchedule{
		display: flex;
	    width: 95%;
	    align-items: baseline;
	    justify-content: space-between;
	}
	.dayLabel{
		color: #727272;
		width: 65px;
		margin-right: 4px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.staffProfile{
		display: flex;
		max-width: 90%;
		margin-top: 12px;
		margin-bottom: 24px;
	}
	.staffPicture{
		width: 100px;
		height: 150px;
		margin-right: 12px;
	}
	.staffBiography{

	}
	.bannerText.navigation{
		background-color: #3F51B5;
	}
	.sermonsForDay{
		width: 95%;
		margin-bottom: 20px;
	    display: flex;
	    justify-content: space-between;
	}
	.sermonLinks{
		margin-left: 20px;
		padding-right: 12px;
	    display: flex;
	    flex-direction: column;
	    align-items: flex-end;
    white-space: nowrap;
    flex-basis: content;

	}
	.sermonLabel{
		color: #727272;
	}


@media (min-width: 820px){
	.slideout{
		margin-left: 0px;
	}
	.slideout.hidden{
		margin-left: 0px;
	}
	.pageBody{
	}
	.menu{
		display: none;
	}
	.menuPlaceholder{
		width: 50px;
	}
	.contentBlock{
		max-width: 70%;
		margin-left: 268px;
		margin-right: 32px;

	}


}

.googleDoc{
	   border: none;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
     width: 100%;

}
.docContainer{
	width: 95%;
}
.contentBlock.calendar{
	width: 80%;
}
@media (min-width: 1020px){

	.contentBlock{
		width: 75%;
	}


}



@media (max-width: 819px){
	.headerText{
		font-size: 16px;
	}
}



ul{
	padding: 0px;
}

body{
	margin: 0px;
	min-width: 320px;
	font-family: Arial, sans-serif;
}

